<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- NuGet.org feed -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<!-- GitHub Packages feed -->
		<packageSourceCredentials>
			<github>
				<!-- Replace with your GitHub username -->
				<add key="Username" value="roncobilaccio" />
				<!-- Replace with your GitHub Personal Access Token (PAT) -->
				<add key="ClearTextPassword" value="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" />
			</github>
		</packageSourceCredentials>
	</packageSources>

</configuration>